// Custom Typography
@media (max-width: 480px) {
	.container, * > [class*='col-'] {
	    // padding-right:15px;
	    // padding-left:15px;
	}
}
p {
	margin-bottom: 30px;
}

.text-dark {
	color: #29292c;
}

.text-light {
	color: #757577;
}

a {
	// outline: none;
	@include transition-property(color);
	@include transition-duration(.3s);
	@include transition-timing-function(linear);
}

.btn-transition {
	@include transition-property(all);
	@include transition-duration(.3s);
	@include transition-timing-function(linear);
}

.subtitle {
	font-size: 16px;
	text-transform: uppercase;
	@extend .text-dark;
	margin-bottom: 0;
}

.entry-title {
	font-size: 32px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-bottom: 95px;
	position: relative;
	letter-spacing: 0.92px;
	small {
		font-weight: bold;
	}
	&:before {
		content: '';
		width: 170px;
		height: 3px;
		background: $link-color;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -85px;
	}
}

*, .entry-content, .list-custom {
	word-wrap: normal;
	hyphens: none; 
}

.text-headline {
	font-size: 28px;
	padding: 60px 0 65px;
}

.text-subheadline {
	font-size: 20px;
	text-transform: uppercase;
	padding: 60px 0 0;
}

// Custom Button
.btn {
	text-transform: uppercase;
}

.btn-custom {
	padding: 15px 95px;
	line-height: 1;
}

.btn-brown {
	@include button-variant($light-color, $link-color, $link-color);
}

.btn-border {
	border-radius: 0;
	border-width: 3px;
	background-color: transparent;
	color: $link-color;
}

.btn-absolute {
	@include button-variant(transparent, transparent, transparent);
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	bottom: 0;
	margin-left: -20px;
	background: transparent;
	border-width: 0;
	padding: 0;
	span {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -14px;
		margin-left: -10px;
	}
}

.icon {
	&.icon-arrow {
		&:before {
			content: image-url('arrows.png', false, false);
			width: 20px;
			height: 19px;
		}
	}
}

// List Styles
.list-microphone {
	li {
		margin-bottom: 100px;
		position: relative;
		padding-left: 73px;
		// line-height: 37px;
		&:before {
			content: '';
			width: 31px;
			height: 37px;
			background: image-url('microphone.png', false, false);
			position: absolute;
			left: 0;
			// top: 50%;
			// margin-top: -13.5px;
			top: -4px;
		}
	}
}

.list-custom {
	li {
		margin-bottom: 30px;
		position: relative;
		padding-left: 100px;
		// line-height: 37px;
		&:before {
			content: '';
			width: 15px;
			height: 2px;
			background: $link-color;
			position: absolute;
			left: 0;
			// top: 50%;
			// margin-top: -1;
			top: 14px;
		}
	}
}

// Testimonial
.testimonial {
	.entry-content {
		font-style: italic;
		@extend .text-light;
		a {
			color: $text-color;
			text-decoration: underline;
		}
	}
	.testimonial-title {
		text-transform: uppercase;
		font-size: 17px;
		margin-top: 60px;
	}
}

// Site Container
body {
	overflow-x: hidden;
	// visibility: hidden;
}
.site-container {
	overflow-x: hidden;	
}

// Navigation
.nav-primary {
	font-size: 14px;
	text-transform: uppercase;	
}

.nav-bar-brand {
	padding: {
		top: 33px;
		bottom: 18px;
	}
}

.navbar-nav {
	li {
		a {
			font-weight: 700;
			line-height: 1;
			@media (min-width: 768px) {
				padding: 50px 23px 36px 23px;
				position: relative;
				&:before {
					content: '';
					width: 5px;
					height: 5px;
					background: $link-color;
					position: absolute;
					right: -2.5px;
					top: 50%;
					margin-top: 5px;
				}
			}
		}
		&.last {
			a {
				@media (min-width: 768px) {
					&:before {
						width: 0;
					}
				}
			}
		}
	}
}

// Jumbotron
.jumbotron {
	font-size: 20px;
	background: {
		image: image-url('backgrounds/bg_jumbotron.jpg', false, false);
		position: center top;
		repeat: no-repeat;
		size: cover;
	}
	margin-bottom: 0;
	padding: 390px 0 290px;
	position: relative;
	.featured {
		background: {
			color: rgba(#131316,0.3);
		}
		padding: 60px 0;
	}
	h1 {
		color: $light-color;
		font-size: 46px;
		// line-height: 1.625;
		line-height: 1.636;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 30px;
		letter-spacing: 0.92px;
		@media (max-width: 480px) {
			font-size: 36px;
		}
	}
}

// Top Area
.top-area {
	#top-section-1 {
		background: $light-color;
		padding: 70px 0 75px;
	}
	#top-section-2 {
		background: {
			image: image-url('backgrounds/bg_matthew-kimberly.jpg', false, false);
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		padding: 365px 0 320px;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		color: $light-color;
		h1 {
			font-size: 58px;
			text-transform: uppercase;
			color: $light-color;
			margin: 0;
			margin-bottom: 120px;
			letter-spacing: 0.92px;
			@media (max-width: 480px) {
				font-size: 36px;
			}
		}
		.entry-content {
			margin-left: 60px;
		}
	}
	#top-section-3 {
		background: $light-color;
		padding: 70px 0 75px;
		position: relative;
	}
	#top-section-4 {
		background: {
			image: image-url('backgrounds/bg_choices.jpg', false, false);
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		color: $light-color;
		font-size: 20px;
		padding: 80px 0;
		.entry-title {
			color: $light-color;
			font-size: 30px;
			&:before {
				content: '';
				height: 0;
			}
			padding: 0;
			margin-bottom: 30px;
		}
		.subtitle {
			color: $light-color;
			font-size: 19px;
			margin-bottom: 100px;
			text-transform: none;
		}
	}
	#top-section-5 {
		background: $light-color;
		padding: 150px 0;
		position: relative;
		.entry-title {
			font-size: 24px;
			padding-bottom: 150px;
			margin-bottom: 120px;
		}
		.entry-content {
			font-style: italic;
			@extend .text-light;
		}
		.testimonial-title {
			text-transform: uppercase;
			font-size: 17px;
			margin-top: 60px;
		}
		.btn-absolute {
			bottom: 50px;
		}
	}
	#top-section-6 {
		background: {
			image: image-url('backgrounds/bg_sfs.jpg', false, false);
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		padding: 235px 0 280px;
	}
}

// Site Inner
.site-inner {
	background: $light-color;
	position: relative;
	padding: 80px 0;
	.subtitle {
		margin-bottom: 30px;
	}
	.entry-title {
		font-size: 33px;
	}
	h3 {
		font-size: 20px;
		line-height: 37px;
		padding: 50px 0 130px;
	}
	.btn-absolute {
		bottom: 10px;
	}
}

// Bottom Area
.bottom-area {
	.part-heading {
		background: {
			image: image-url('backgrounds/bg_part-one.jpg', false, false);
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		font-size: 20px;
		color: $light-color;
		padding: 80px 0 100px;
		.entry-title {
			margin-bottom: 30px;
			color: $light-color;
			font-size: 38px;
		}
		.subtitle {
			font-size: 28px;
			color: $light-color;
		}
	}
	.part-one {
		background: $light-color;
		#part-one-2 {
			padding: 100px 0 50px;
			h3 {
				font-size: 20px;
				text-transform: uppercase;
				margin-bottom: 50px;
			}
			.entry-content {
				margin-bottom: 70px;
			}
			.video {
				margin-bottom: 100px;
				.h3 {
					font-size: 20px;
					margin-top: 100px;
					line-height: 38px;
				}
			}
		}
		#part-one-3 {
			padding: 50px 0 100px;
		}
	}
	.part-two {
		.modules {
			position: relative;
			.btn-absolute {
				bottom: 20px;
			}
			.module {
				.module-section {
					.entry-title {
						margin-bottom: 120px;
						padding-bottom: 50px;
						color: $link-color;
						small {
							font-size: 25px;
							color: $text-color;
						}
					}
					h3 {
						@extend .entry-title;
						margin-top: 120px;
						font-size: 20px;
						text-transform: uppercase;
						padding-bottom: 30px;
						margin-bottom: 50px;
						color: $text-color;
					}
					&:first-child {
						padding: 120px 0;
					}
					&:last-child {
						// padding: 100px 0 30px;
						padding: 100px 0;
						background: $testimonial-color;
					}
				}
			}
			.module-six {
				.module-section {
					&:last-child {
						padding-bottom: 130px;
					}
				}
			}
		}
	}
	.part-three {
		background: $light-color;
		position: relative;
		//padding: 130px 0;
		.bonuses {
			padding: 130px 0 0;
			.btn-absolute {
				bottom: 40px;
			}
		}
		.bonus {
			margin-bottom: 170px;
			.entry-title {
				color: $link-color;
				font-size: 33px;
				margin-bottom: 70px;
				padding-bottom: 30px;
				small {
					font-size: 24px;
					color: $text-color;
				}
			}
		}
	}
	.part-four {
		.section {

		}
		#part-four-1 {
			padding:260px 0 140px;
			color: $light-color;
			font-weight: 600;
			background: {
				image: image-url('backgrounds/bg_60-days.jpg', false, false);
				position: center top;
				repeat: no-repeat;
				size: cover;
			}
			h1 {
				color: $light-color;
				font-size: 58px;
				line-height: 92px;
				text-transform: uppercase;
				margin: 0;
				margin-bottom: 100px;
				letter-spacing: 0.92px;
				@media (max-width: 480px) {
					font-size: 36px;
					line-height: 1.1;
				}
			}
		}
		#part-four-2 {
			padding: 70px 0 160px;
			position: relative;
			h3 {
				font-size: 36px;
				margin: 70px 0 80px;
			}

			.btn-absolute {
				bottom: 10px;
			}
		}
		#part-four-3, #part-four-5 {
			color: $light-color;
			padding: 110px 0 80px;
			// padding:260px 0 140px;
			color: $light-color;
			font-weight: 600;
			background: {
				image: image-url('backgrounds/bg_choices.jpg', false, false);
				position: center top;
				repeat: no-repeat;
				size: cover;
			}
			.entry-title {
				padding-bottom: 0;
				&:before {
					height: 0;
				}
			}
			.buttons {
				font-size: 0;
				margin-bottom: 100px;
				li {
					padding: 0 55px;
					@media (max-width: 480px) {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
			.btn-custom {
				padding: {
					right: 50px;
					left: 50px;
				}
				span {
					margin-right: 20px;
				}
			}
		}
		#part-four-4 {
			background: $light-color;
			padding: 180px 0 0;
			position: relative;
			.btn-absolute {
				bottom: 40px;
			}
			.container {
				& > .entry-content {
					margin-bottom: 130px;
				}
			}
			.testimonial {
				padding: 130px 0 170px;
				position: relative;
				&:before {
					content: '';
					width: 170px;
					height: 3px;
					background: $link-color;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -85px;
				}
				.entry-content {
					a {
						// color: inherit;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
	}
}

// Footer
.site-footer {
	background: $light-color;
	padding: 70px 0 40px;
	color: $link-color;
	p {
		margin-bottom: 0;
		line-height: 1;
		text-transform: uppercase;
	}
	a {
		text-decoration: none;
	}
}