.container {
    // overflow: hidden;
    /* clearfix */
    .owl-carousel .owl-wrapper:after {
    	content: ".";
    	display: block;
    	clear: both;
    	visibility: hidden;
    	line-height: 0;
    	height: 0;
    }
    /* display none until init */
    .owl-carousel{
    	display: none;
    	position: relative;
    	width: 100%;
    	-ms-touch-action: pan-y;
    }
    .owl-carousel .owl-wrapper{
    	display: none;
    	position: relative;
    	-webkit-transform: translate3d(0px, 0px, 0px);
    }
    .owl-carousel .owl-wrapper-outer{
    	overflow: hidden;
    	position: relative;
    	width: 100%;
    }
    .owl-carousel .owl-wrapper-outer.autoHeight{
    	-webkit-transition: height 500ms ease-in-out;
    	-moz-transition: height 500ms ease-in-out;
    	-ms-transition: height 500ms ease-in-out;
    	-o-transition: height 500ms ease-in-out;
    	transition: height 500ms ease-in-out;
        overflow: hidden;
    }

    .owl-carousel .owl-item{
    	float: left;
    }
    .owl-controls .owl-page,
    .owl-controls .owl-buttons div{
    	cursor: pointer;
    }
    .owl-controls {
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* mouse grab icon */
    .grabbing {
        // cursor:url(grabbing.png) 8 8, move;
    }

    /* fix */
    .owl-carousel  .owl-wrapper,
    .owl-carousel  .owl-item {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }

    .owl-buttons {
        font-size: 36px;
        line-height: 1;
        div {
            width: 36px;
            height: 36px;
            position: absolute;
            left: auto;
            top: 50%;
            margin-top: -18px;
            &.owl-prev {
                // @include fa('chevron-left');
                left: -60px;
            }
            &.owl-next {
                // @include fa('chevron-right');
                right: -60px;
            }
        }
    }

    .owl-pagination {
        width: 100%;
        text-align: center;
        .owl-page {
            display: inline-block;
            & > span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 10px;
                background: lighten($link-color, 10);
            }
            &.active {
                & > span {
                    // background: $grey_regular;
                    background: $link-color;
                }
            }
        }
    }

    .testimonial-container {
        text-align: center;
        .testimonial-content {

        }
        .testimonial-details {
            img {
                margin: 0 auto 15px;
                border-radius: 50%;
            }
        }
    }
}