// Change Bootstrap Defaults
$icon-font-path: "assets/fonts/bootstrap/";
$grid-gutter-width: 50px;
$container-large-desktop: (1170px + $grid-gutter-width);

// Typography
$font-family-base: "Open Sans", sans-serif;
$font-size-base: 20px;
$headings-font-family: "Didot", serif;
$headings-font-weight: bold;

// Colors
$text-color: #121e2e;
$light-color: #fff;
$link-color: #c4a66a;
$testimonial-color: #f6f6f6;

// Navigation
$navbar-height: 100px;
$navbar-default-color: #fff;
$navbar-default-bg: rgba(#131316, .3);
$navbar-default-border: transparent;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $link-color;
$navbar-default-link-active-color: $link-color;
$navbar-default-link-active-bg: transparent;